APP_ENV=dev
APP_DEBUG=1
APP_NAME=dashboard
APP_SECRET=f6f24f357116a4974b9b46dd64d409b4
CLIENT_PASSWORD=apiPassword
JWT_SECRET_KEY=
JWT_PUBLIC_KEY=
JWT_PASSPHRASE=

ENABLE_XDEBUG=false

SHOP_DATABASE_HOST=shared_mysql
SHOP_DATABASE_PORT=3306

RABBITMQ_HOST=shared_rabbitmq
RABBITMQ_PORT=5672
